/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.testimonial-section {
    text-align: center;
}

.testimonial-section h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.testimonial-section p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 1rem;
}

/* Carousel styling */
.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 950px;
    height: 365px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-track {
    display: flex;
    position: relative;
    animation: scroll-left 15s linear infinite;
}

.testimonial-card {
    width: 217px;
    height: 165px;
    background-color: #333;
    border-radius: 7px;
    padding: 15px 18px 45px;
    margin: 0 1rem;
    text-align: center;
    opacity: 0.9;
    position: relative;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.testimonial-card.up {
    animation: float-up 3s ease-in-out infinite;
}

.testimonial-card.down {
    animation: float-down 3s ease-in-out infinite;
}

.testimonial-card:hover {
    border-color: #f0f0f0;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes float-up {

    0%,
    100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }
}

@keyframes float-down {

    0%,
    100% {
        transform: translateY(20px);
    }

    50% {
        transform: translateY(-20px);
    }
}

@media (max-width: 768px) {
    .testimonial-card {
        width: 90%;
        padding: 1rem;
    }

    .carousel {
        width: 90%;
        max-width: 70px;
    }
}